# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data and model outputs
outputs/
models/*.pkl
*.xlsx
*.png

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Others
*.log


venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store